@inherits DittoView<ContentPage>
@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="propertyType">
    <h2>Richtext Editor</h2>

    <p>@Model.View.BodyText</p>
</div>

<div class="propertyType">
    <h2>Dropdown Multiple</h2>
    @if (Model.View.Departments != null)
    {
        <ul>
            @foreach (var dept in Model.View.Departments)
            {
                <li>@dept</li>
            }
        </ul>
    }
</div>

<div class="propertyType">
    <h2>Multinode Treepicker</h2>
    @if (Model.View.RelatedInternalPages != null)
    {
        <ul>
            @foreach (var link in Model.View.RelatedInternalPages.ToList())
            {
                <li><a href="@link.Url" @link.NewWindowAttribute>@link.Title</a></li>
            }
        </ul>
    }
</div>

<div class="propertyType">
    <h2>Content Picker</h2>
    @if (Model.View.PromotedPage != null)
    {
        <ul>
            <li><a href="@Model.View.PromotedPage.Url" @Model.View.PromotedPage.NewWindowAttribute>@Model.View.PromotedPage.Title</a></li>
        </ul>
    }
</div>
