@inherits DittoView<ContentPage>
@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<section>
  
    <p>@Model.View.BodyText</p>


    @if (Model.View.Departments != null)
    {
        <ul>
            @foreach (var dept in Model.View.Departments)
            {
                <li>@dept</li>
            }
        </ul>
    }

    @if (Model.View.RelatedInternalPages != null)
    {
        <ul>
            @foreach (var link in Model.View.RelatedInternalPages.ToList())
            {
                <li><a href="@link.Url" @(link.NewWindow ? " target='_blank'" : string.Empty)>@link.Title</a></li>
            }
        </ul>
    }


    @if (Model.View.PromotedPage != null)
    {
        <ul>
            <li><a href="@Model.View.PromotedPage.Url" @(Model.View.PromotedPage.NewWindow ? " target='_blank'" : string.Empty)>@Model.View.PromotedPage.Title</a></li>
        </ul>
    }
</section>