@inherits DittoView<Homepage>
@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<p>@Model.View.Description</p>

@if (Model.View.Hero != null)
{
    <p>
        <img src="@Model.View.Hero.Url?width=300&height=300&mode=crop" alt="@Model.View.Hero.Title" />
    </p>
}

@if (Model.View.RelatedLinks != null)
{
    <ul>
        @foreach (var link in Model.View.RelatedLinks.ToList())
        {
            <li><a href="@link.Link" @(link.NewWindow ? " target='_blank'" : string.Empty)>@link.Caption</a></li>
        }
    </ul>
}


@if (Model.View.Fruit != null)
{
    <ul>
        @foreach (var fruit in Model.View.Fruit.ToList())
        {
            <li>@fruit</li>
        }
    </ul>
}


@if (Model.View.PromotionalImage != null)
{
    <p>
        <img src="@Model.View.PromotionalImageCrop("Default")" alt="" />
        <img src="@Model.View.PromotionalImageCrop("Small")" alt="" />
    </p>
}

