@inherits DittoView<NewsItem>
@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<section>
    <p>@Model.View.BodyText</p>
    @foreach (var image in Model.View.Images)
    {
        <img src="@image.Url?width=300&height=300&mode=crop" alt="@image.Title"/>
    }
    
    @if (Model.View.Tags != null)
    {
        <ul>
            @foreach (var tag in Model.View.Tags)
            {
                <li>@tag</li>
            }
        </ul>
    }
    @if (Model.View.Attachment != null)
    {
        <p><a href="@Model.View.Attachment">@Model.View.Attachment</a></p>
    }
   
    @if (Model.View.PromotedPage != null)
    {
        <a href="@Model.View.PromotedPage.Url">@Model.View.PromotedPage.Title</a>
    }
</section>