@inherits DittoView<NewsOverview>
@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="propertyType">
    <h2>News Listing</h2>
    <p>This uses a processor not a mapped property from Umbraco. </p>

    @foreach (NewsItem item in Model.View.NewsItems.Items)
    {
        <div class="newsSnippet">

            @if (item.Image != null)
            {
                <div class="image">
                    <a href="@item.Url" class="image image-full"><img src="@item.Image.Url?width=200&height=200&mode=crop" alt="@item.Image.Title" /></a>
                </div>
            }

            <div class="content">
                <h3>
                    <a href="@item.Url">@item.Title</a>
                </h3>
                <p>@item.PublishDate.ToString("f")</p>
                <p>@item.Description</p>

                <p><a href="@item.Url" class="button">Read more</a></p>
            </div>

        </div>
    }
    @Html.Partial("Pager", Model.View.NewsItems)
</div>


