@inherits DittoView<NewsItem>

<a href="/">Home</a>

<section>
    <h1>@Model.View.Title</h1>
    <ul class="meta">
        <li class="timestamp">@Model.View.PublishDate.ToString("f")</li>
    </ul>
    <p>@Model.View.BodyText</p>
    @foreach (var image in Model.View.Images)
    {
        <img src="@image.Url?width=300&height=300&mode=crop" alt="@image.Title]
            "/>
    }

    <ul>
        @foreach (var tag in Model.View.Tags)
        {
            <li>@tag</li>
        }
    </ul>
    @if (Model.View.Attachment != null)
    {
        <p><a href="@Model.View.Attachment">@Model.View.Attachment</a></p>
    }
   
    @if (Model.View.PromotedPage != null)
    {
        <a href="@Model.View.PromotedPage.Url">@Model.View.PromotedPage.Title</a>
    }
    
    <br/> 
   
</section>