@inherits DittoView<BaseModel>

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Cache-control" content="no-cache">
    <meta name="theme-color" content="#1FBBEC">
    <title>Ditto Sandbox</title>
    <style type="text/css">
        body{ 
           font-family:sans-serif;
        }
         div.attributes { 
             width:90%;
             border:2px solid #000;
             margin-bottom:10px;
             padding: 5px;
         }
         div.propertyType { 
             width:90%;
             border:1px solid #333;
              margin-bottom:10px;
             padding: 5px;
         }
         div.newsSnippet{
             width:90%;
             background-color: #efefef;
             margin-bottom:10px;
             padding: 5px;

         }
    </style>
</head>
<body>
<div>
    @Html.Partial("PrimaryNav", Model.View.PrimaryNavItems)
    <h1>@Model.View.Title</h1>
    <div class="attributes">
        <b>Url:</b> @Model.View.Url<br />
        <b>Created / Published Date:</b> @Model.View.PublishDate.ToString("f")<br/>
        @Html.Partial("SecondaryNav", Model.View.SecondaryNavItems)<br/>
        
        @if (!Model.View.IsHomepage)
        {
            @Html.Partial("Breadcrumbs", Model.View.BreadcrumbItems)
        }
    </div>
    
    @RenderBody()
    
  
</div>
</body>
</html>